@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .t-btn-primary {
    @apply bg-app-primary-500
    hover:bg-app-primary-400
    active:bg-app-primary-300
    disabled:bg-app-gray-500
    rounded-md
    px-8
    font-body
    text-white
    ease-linear
    transition-all
    duration-150;
  }

  .t-btn-secondary {
    @apply bg-white
    hover:bg-app-gray-300
    active:bg-app-secondary2
    disabled:bg-app-gray-300
    disabled:text-app-gray-500
    disabled:border-app-gray-500
    border
    border-solid
    border-app-primary-500
    rounded-md
    px-8
    font-body
    text-app-primary-500
    ease-linear
    transition-all
    duration-150;
  }

  .t-btn-tertiary {
    @apply bg-transparent
    hover:bg-app-gray-300
    active:bg-app-secondary2
    disabled:bg-app-gray-300
    disabled:text-app-gray-500
    rounded-md
    px-8
    font-body
    text-app-primary-500
    ease-linear
    transition-all
    duration-150;
    border: 1px solid #6F717A;
    border-radius: 6px;
    /* box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #dee5ff; */
  }

  .t-btn-outline {
    @apply bg-transparent
    active:bg-app-secondary2
    disabled:bg-app-gray-300
    disabled:text-app-gray-500
    border
    border-solid
    border-app-primary-500
    rounded-md
    px-8
    font-body
    text-app-primary-500
    ease-linear
    transition-all
    duration-150;
  }
  .dark .t-btn-tertiary {
    /* box-shadow: -5px -5px 10px #37383c, 5px 5px 10px #242529; */
  }

  .t-btn-text {
    @apply disabled:text-app-gray-500
    hover:text-app-secondary
    active:text-app-secondary2
    text-app-primary-500
    ease-linear
    transition-all
    duration-150;
  }
  .img-loader-container {
    background-color: rgb(156, 156, 156);
  }
}

html,
body {
  height: 100%;
}

#app,
.height-full {
  min-height: 100%;
  height: 100%;
  overflow: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
