@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-100: #ffffff;
  --color-primary-200: #ffffff;
  --color-primary-300: #e0c7ff;
  --color-primary-400: #c493ff;
  --color-primary-500: #9945ff;
  --color-primary-600: #6f00f6;
  --color-primary-700: #5800c2;
  --color-primary-800: #350075;
  --color-primary-900: #1d0041;
}

@layer components {
  .t-btn-primary {
    @apply bg-app-primary-500
    hover:bg-app-primary-400
    active:bg-app-primary-300
    disabled:bg-app-gray-500
    rounded-md
    px-8
    font-body
    text-white
    ease-linear
    transition-all
    duration-150;
  }

  .t-btn-secondary {
    @apply bg-white
    hover:bg-app-gray-300
    active:bg-app-secondary2
    disabled:bg-app-gray-300
    disabled:text-app-gray-500
    disabled:border-app-gray-500
    border
    border-solid
    border-app-primary-500
    rounded-md
    px-8
    font-body
    text-app-primary-500
    ease-linear
    transition-all
    duration-150;
  }
}

@layer utilities {
  .outline-black {
    outline: 2px dotted black;
    outline-offset: 2px;
  }

  .outline-white {
    outline: 2px dotted white;
    outline-offset: 2px;
  }
}

html,
body {
  height: 100%;
}

#app,
.height-full {
  min-height: 100%;
  height: 100%;
  overflow: auto;
}

.back-nav {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000e0;
  z-index: 100;
  color: white;
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
  line-height: 100vh;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.t-btn-tertiary {
  @apply bg-transparent
  hover:bg-app-gray-300
  active:bg-app-secondary2
  disabled:bg-app-gray-300
  disabled:text-app-gray-500
  rounded-md
  px-8
  font-body
  text-app-primary-500
  ease-linear
  transition-all
  duration-150;
  border: 1px solid #6F717A;
  border-radius: 6px;
  /* box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #dee5ff; */
}

.t-btn-outline {
  @apply bg-transparent
  active:bg-app-secondary2
  disabled:bg-app-gray-300
  disabled:text-app-gray-500
  border
  border-solid
  border-app-primary-500
  rounded-md
  px-8
  font-body
  text-app-primary-500
  ease-linear
  transition-all
  duration-150;
}
.dark .t-btn-tertiary {
  /* box-shadow: -5px -5px 10px #37383c, 5px 5px 10px #242529; */
}

.t-btn-text {
  @apply disabled:text-app-gray-500
  hover:text-app-secondary
  active:text-app-secondary2
  text-app-primary-500
  ease-linear
  transition-all
  duration-150;
}
.img-loader-container {
  background-color: rgb(156, 156, 156);
}

.size-small {
  height: 36px;
}
.size-medium {
  height: 54px;
}
.size-large {
  height: 60px;
}

.no-scrollbar {
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.item-gray {
  /*equivalent of #808080*/
  filter: brightness(0) saturate(100%) invert(44%) sepia(67%) saturate(0%) hue-rotate(162deg) brightness(100%) contrast(93%);
}
.item-white {
  /*equivalent of white*/
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(186deg) brightness(105%) contrast(102%);
}
.item-black {
  /*equivalent of black*/
  filter: brightness(0) saturate(100%);
}

.active-border {
  border-top: 2px solid #9945ff;
  border-bottom: 2px solid transparent;
}

:focus-visible {
  outline: 2px solid white;
}
.skeleton-animation {
  animation: skeleton-loading 1s ease-in-out forwards infinite alternate;
}
@-webkit-keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 12%, 50%);
  }
  100% {
    background-color: #f0f3f5;
    opacity: 1;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 12%, 50%);
  }
  100% {
    background-color: #f0f3f5;
    opacity: 1;
  }
}
